<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>D.T.S.</title>
	<link type="text/css" rel="stylesheet" href="styles/style.css" />
</h:head>

<h:body>
	<f:view locale="#{languageSelector.locale}" encoding="UTF-8"
		contentType="text/html">
		<h:form id="loginForm" prependId="false" acceptcharset="UTF-8">

			<script type="text/javascript">
				function login() {
					if (event.keyCode == 13) {
						document.getElementById("loginCommandButtonId").click();
					}
				}
			</script>

			<h:form>
				<p:panel id="panel" header="DEPO TAKİP SİSTEMİ">

					<p:messages id="msgs" />

					<h:panelGrid columns="3" cellpadding="5">
						<p:outputLabel for="username" value="Kullanıcı Adı:" />
						<p:inputText id="username" value="#{userCredentialsBean.username}"
							label="Username">
							<f:validateLength minimum="2" />
						</p:inputText>
						<p:message for="username" display="icon" />

						<p:outputLabel for="userpass" value="Şifre:" />
						<p:password id="userpass" value="#{userCredentialsBean.password}"
							feedback="true" promptLabel="Lütfen şifre giriniz!"
							weakLabel="Zayıf" goodLabel="Orta seviye" strongLabel="Güçlü" />
						<p:message for="userpass" id="msgLastname" display="icon" />

					</h:panelGrid>

					<p:commandButton value="GİRİŞ" update="panel"
						actionListener="#{userCredentialsBean.loginUser}"
						icon="ui-icon-check" />

				</p:panel>
			</h:form>

		</h:form>
	</f:view>
</h:body>
</html>