<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>D.T.S.</title>

	<f:facet name="last">
		<h:outputStylesheet library="css" name="style.css" />
	</f:facet>

</h:head>

<h:body>
	<f:view locale="#{languageSelector.locale}" encoding="UTF-8">
		<h:form id="mainForm" prependId="false" enctype="multipart/form-data"
			rendered="#{userCredentialsBean.username != null}">

			<p:layout fullPage="false" id="mainLayout"
				style="top:10px; bottom:20px; width:1250px;  margin:0; height:800px; margin-left:auto; margin-right:auto; position:relative">
				<p:layoutUnit position="center" resizable="true" collapsible="true">
					<ui:insert name="showPanel" />
				</p:layoutUnit>
				<p:messages showDetail="false" showSummary="true" id="messages" />
			</p:layout>
		</h:form>
	</f:view>
</h:body>
</html>